body {
    font-family: Calibri;
    font-size: 20px;
    background-image: url('background.jpg');
    color: white;
}
button {
    display: inline;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    color: white;
}

.username {
    
}

.actives {
    
}
.user_list {
    
}

.chat {
    text-align: center;
    background-color: #e2e2e2;
    color: black;
    height: 400px;
    margin: 10px auto;
    border-style: solid;
    border-radius: 5px;
    width: 70%;
    padding: 5px 2px 5px 2px;
    overflow-y: auto;
}
.msg_list {
    
}
.chat_msg {
    list-style-type: none;
}
.people {
    
}
.text {
    
}

hr{
    text-align: center;
    border: solid;
    color: #00004c;
    width: 1250;
}