body {
    font-family: Calibri;
    font-size: 20px;
    background-image: url('background.jpg');
    color: white;
}
img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 0 5 0 5;
}
form{
    text-align:center;
}
h4 {
    text-align: center;
}
button{
    display: inline;
    background-color: #e2e2e2;
    color: black;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
}
input{
    border-style: solid;
    border-radius: 5px;
    display: inline;
    margin-right: 5px;
    padding: 15px 1.25em;
    font-size: 12px;
    width: 60%;
}
#others{
    text-align: left;
    border: #0a00ff;
    background-color: #e5e4ff;
    border-style: none none none solid;
    border-radius: 5px;
    padding: 15px 4px;
    margin: 10px 0;
}
#self{
    text-align: right;
    border: #ffffff;
    background-color: #f1f1f1;
    border-style: none solid none none;
    border-radius: 5px;
    padding: 15px 4px;
    margin: 10px 0;
}
#chat_bot{
    border: black dotted;
    background-color: gray;
    border-radius: 5px;
    padding: 15px 4px;
    margin: 10px 0;
    color: white;
    font-style: italic;
}
#time {
    font-style: italic;
    font-size: 12px;
}
h1 {
    text-align: center;
    color: white;
}

#username {
    font-size: 30px;
    margin: 10px auto;
    width: 70%;
}
#msg_list{
    text-align: left;
    background-color: #e2e2e2;
    color: black;
    height: 500px;
    margin: 10px auto;
    border-style: solid;
    border-radius: 5px;
    width: 70%;
    padding: 5px 2px 5px 2px;
    overflow-y: auto;
}
ul {
    list-style-type: none;
    margin-right: 50px;
}
.active_user {
    color: black;
    width: 20%;
    height: 200px;
    border-style: solid;
    border-radius: 5px;
    background-color: #e2e2e2;
    list-style-type: none;
    padding: 5px 2px 5px 2px;
    margin: auto;
}
#user_list {
    margin: 0px;
}